body {
    padding-top: 50px;
    padding-bottom: 20px;
     background-image: linear-gradient(to right, #70b2df, #63c8a5);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
 .navbar-inverse {
        border: none; /* Removendo a borda */
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #fff; /* Cor do texto dos links */
        transition: background-color 0.4s; /* Transição de cor com duração de 0.4s */
       border-radius: 5px;
    }

    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        background-color: #AED6F1; /* Cor de fundo no hover/foco dos links */
        color: #fff; /* Cor do texto no hover/foco dos links */
    }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
        background-color: #CCCCCC; /* Cor de fundo do link ativo */
        color: #fff; /* Cor do texto do link ativo */
    }

    /* Estilo do conteúdo */
    

    /* Estilo do footer */
    footer {
        margin-top: 20px; /* Espaçamento superior */
        padding-top: 10px; /* Espaçamento superior interno */
        border-top: 1px solid #ccc; /* Borda superior */
    }

    footer p {
        margin-bottom: 0; /* Remover margem inferior do parágrafo */
    }
    .jumbotron{
                   background-color: transparent;
    }